*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    /* ********* THEME COLORS ********* */

    /* *** MAIN COLORS *** */
    --main-1-hue: 210;
    --main-1-sat: 11%;
    --main-1-lightness: 15%;
    --main-1-color: hsl(var(--main-1-hue),var(--main-1-sat) ,var(--main-1-lightness) );
    
    --main-2-hue: 240;
    --main-2-sat: 7%;
    --main-2-lightness: 23%;
    --main-2-color: hsl(var(--main-2-hue),var(--main-2-sat) ,var(--main-2-lightness) );
    
    --main-3-hue: 240;
    --main-3-sat: 7%;
    --main-3-lightness: 53%;
    --main-3-color: hsl(var(--main-3-hue),var(--main-3-sat) ,var(--main-3-lightness) );

    /* *** SECONDARY COLORS *** */

    --secondary-hue: 0;
    --secondary-sat: 84%;
    --secondary-lightness: 44%;
    --secondary-lightness-hov: 49%;
    --secondary-color: hsl(var(--secondary-hue), var(--secondary-sat), var(--secondary-lightness) );
    --secondary-color-hov: hsl(var(--secondary-hue), var(--secondary-sat), var(--secondary-lightness-hov) );

    /* ********* BACKGROUND COLORS ********* */

    /* *** LIGHT BG *** */
    --bg-1-hue: 0;
    --bg-1-sat: 0%;
    --bg-1-lightness: 100%;
    --bg-1-color: hsl(var(--bg-1-hue), var(--bg-1-sat) , var(--bg-1-lightness) );

    
    /* *** DARK BG *** */
    --bg-2-hue: 0;
    --bg-2-sat: 0%;
    --bg-2-lightness: 93%;
    --bg-2-color: hsl(var(--bg-2-hue), var(--bg-2-sat) , var(--bg-2-lightness) );

    /* ********* FONTS ********* */

    --main-1-font: 'Open Sans', sans-serif;
    --main-2-font: 'Inter', sans-serif;
    --secondary-font: 'Amatic SC', sans-serif;
}
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background-color: hsl(0,63%,59%);
}
::selection {
    color: #fff;
    background-color: hsl(0,63%,59%);
  }
/* width */
::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(var(--bg-1-hue), var(--bg-1-sat) , 80%);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-1-color);
    border-radius: 5px;
    /* height: 50px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    font-family: var(--main-1-font);
    color: var(--main-1-color);
}
html {
    scroll-behavior: smooth;
  }  
ul{
    list-style: none;   
    display: flex;
    justify-content: center;
    align-items: center; 
    /* align-content: center; */
}
a{
    text-decoration: none;
    
}
img{
    width: 100%;
}
h2{
    color: var(--main-3-color);
    font-weight: 400;
    font-size: 15px;
    /* margin-bottom: 1px; */
}
.section-header{
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.section-header span{
    color: var(--secondary-color);
}
.section-header p{
    font-family: var(--secondary-font);
    font-size: 50px;
}
    /* ****************** NAV BAR ****************** */

.nav-bar{
    /* background-color: #faf; */
    
    position: fixed;
    width: 100%;
    /* width: 100vw; */
    padding:  23px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-1-color);
    /* filter: drop-shadow(0 0 14px 0 rgba(0,0,0,b)); */
    box-shadow: 0 0 15px 0 #00000021;
    z-index: 99999;
    /* display: none; */
}
/* .nav-menu .menu-item a:active{
    color: var(--bg-1-color);
} */



.nav-container{
    width: 87%;
    /* background-color: #bff; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.nav-bar li{
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    
}
.nav-bar a{
    color: var(--main-3-color);
    font-weight: 600;
    position: relative; 
}
.nav-bar ul a::after{
    content: "";
    position: absolute;
    bottom: -6;
    left: 0;
    background-color: var(--secondary-color);   
    width: 0%;
    height: 3px;
    transition: width 0.4s ease-out;

}
.nav-bar ul a:hover::after{
    width: 100%;
}
.nav-bar h1 a{
    color: var(--main-1-color);
    font-family: var(--main-1-font);
    font-weight: 700;
    font-size: 30px;
}
.nav-bar h1::after{
    content: ".";    
    color: var(--secondary-color);
}
.mode-container i{
    cursor: pointer;
    font-size: 25px;
}
.light-icon{
    display: none;
}
.mode-container{
    width: 20px;
    text-align: center;
}
:root:has(#home:target) .nav-bar .menu1 a{
    color: var(--main-1-color);
}
:root:has(#home:target) .nav-bar .menu1 a::after{
    width: 100%;
}
:root:not(:has(:target)) .nav-bar .menu1 a::after{
    width: 100%;
    
}
:root:not(:has(:target)) .nav-bar .menu1 a{
    color: var(--main-1-color);
}
:root:has(#chefs:target) .nav-bar .menu2 a{
    color: var(--main-1-color);
}
:root:has(#chefs:target) .nav-bar .menu2 a::after{
    width: 100%;
}
:root:has(#gallery:target) .nav-bar .menu3 a{
    color: var(--main-1-color);
}
:root:has(#gallery:target) .nav-bar .menu3 a::after{
    width: 100%;
}
:root:has(#contact:target) .nav-bar .menu4 a{
    color: var(--main-1-color);
}
:root:has(#contact:target) .nav-bar .menu4 a::after{
    width: 100%;
}
    /* ****************** HOME ****************** */
.home{
    background-color: var(--bg-2-color);
    height: 100vh;
    padding-top: 100px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.home-container{
    /* background-color: #bff; */
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-content{
    /* background-color: #afa; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.home-content-inner{
    /* background-color: #bad; */
}
.home-content p{
    /* background-color: firebrick; */
    margin: 20px 0;
}
.home .par1{
    font-family: var(--secondary-font);
    font-size: 60px;
    font-weight: 600;
    color: var(--main-1-color);
    /* width: 65%; */
}
.home .par2{
    color: var(--main-2-color);
}
.home-picture{
    /* background-color: #5a5; */
}
.home-picture img{
    width: 100%;
}
.home-item{
    width: 40% ;
}
.home-buttons{
    /* background-color: #faf; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.book{
    margin-right: 40px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--bg-1-color);
    padding: 15px 30px;
    border-radius: 25px;
    border-top-left-radius: 0%;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.book:hover{
    background-color: var(--secondary-color-hov);
}
/* .home-buttons .watch{
    position: relative;
}
.home-buttons .watch::before{
    content: "";
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0;
    background-color: var(--bg-1-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid var(--secondary-color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform:rotate(-45deg)
    /* border: 10px solid  linear-gradient(to right, var(--secondary-color) 0%, var(--secondary-color) 50%, rgba(255, 255, 255, 0) 50%, #fff0 100%); */
/* } */ 
.watch{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

}
.watch a{
    color: var(--main-1-color);
    font-weight: 500;
    transition: color 0.3s;

}
.watch:hover a, .watch:hover i{
    color: var(--secondary-color);
}
.watch:hover .icon-container{
    background:  linear-gradient(to right, var(--secondary-color-hov) 0%, var(--secondary-color-hov) 50%, transparent 50%,transparent 100%);
}
.icon-container{
    position: relative;
    padding: 8px;
    margin-right: 5px;
    /* border: solid 6px; */
    /* border-color:  linear-gradient(to right, var(--secondary-color) 0%, var(--secondary-color) 50%, transparent 50%,transparent 100%); */
    background:  linear-gradient(to right, var(--secondary-color) 0%, var(--secondary-color) 50%, transparent 50%,transparent 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition-duration: 0.3s; */
    
}
.icon-container::before{
    content: "";
    /* position: absolute; */
    background-color: var(--bg-1-color);
    width: 40px;
    height: 40px;
    /* z-index: 0; */
    border-radius: 50%;
    /* bottom: 50%;
    left: 50%; */
}
.icon-container i{
    position: absolute;
    transition: color 0.3s;

}
.home-picture img{
    /* box-shadow: 4px 4px 9px #000a; */
    filter: drop-shadow(4px 4px 9px #000a);
}
.home-picture img:hover{
    animation: shake 0.9s;    
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* ****************** CHEFS ****************** */
.chefs{
    /* background-color: #bff; */
    background-color: var(--bg-1-color);

    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 120vh;
    /* padding: 100px 0; */
    /* overflow: hidden; */
}
/* #chefs{
    scroll-padding-top: 215px;
} */
/* .chefs-header{ */
    /* background-color: #bad; */
    /* margin-bottom: 20px;
    padding-bottom: 10px; */
    /* margin-top: 90px; */
/* } */
.chef-content{
    padding: 5px 20px 20px 20px;
}
.chefs-container{
    /* background-color: #faf; */
    margin-top: 10px;
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chef-item{
    /* background-color: #afa; */
    overflow: hidden;

    position: relative;
    width: 31%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0px #00000021;
    transition: transform 0.3s;
}
.chef-item:hover{
    transform: scale(1.05);
}
.chef-item .img{
    position: relative;
}
.chef-item .img::after{
    content: "";
    position: absolute;
    border:none;
    bottom: -2px;
    left: 0;
    right: 0;
    background: url(../img/team-shape.svg);
    width: 100%;
    height: 60px;
}
.chef-item p{
    padding: 5px 0px;
    color: var(--main-3-color);
}
.chef-item .about{
    padding: 5px 0px;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}
.contact-chef{
    background-color: #ffffff4d;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 8%;
    width: 50px;
    height: 170px;
    transform: translateX(120%);
    transition: transform 0.4s 0.35s ease-in-out;
}
.contact-chef ul{
    display: block;
    padding: 10px 0;
    padding-top: 12px;
}
.contact-chef li{
    padding: 7px 0px ;
    
}
.contact-chef a{
    color: #37373f66;
    transition: color 0.3s;
    font-size: 20px;
}
.contact-chef a:hover{
    color: #4B4A50;
}
.chef-item:hover .contact-chef{
    transform: translateX(-20%);
}

/* ****************** GALLERY ****************** */


.gallery{
    background-color: var(--bg-2-color);
    /* width: 100vw; */
    padding-bottom: 200px;
    text-align: center;

    height: 205vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* align-content: center; */
}
.gallery-header{
    margin-top: 90px;
}
.gallery .images-container{
    /* background-color: #faf; */
    width: 87%;
    height: 200vh;
    /* height: 1400; */
    display: flex;
    /* gap: 5px; */
    /* margin: 10px; */
    flex-wrap: wrap;
    flex-direction: column;
    /* align-items: ; */
    /* align-items: space-between; */
    /* justify-content: flex-start; */
    align-content: space-between;
    /* align-content: space-around; */
    /* align-content: center; */
    /* align-items: center; */
    /* align-content: flex-start; */
    /* align-items: flex-end; */
    /* padding-bottom: 200px; */
}
.gallery .image{
    /* background-color: #bff; */
    border: #fff solid 4px;
    margin-bottom: 25px ;
    /* margin: 0 10px 10px 10px; */
    width: 32.3%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    position: relative;
    overflow: hidden;
}
.image .image-layer{
    /* background-color: #5a5; */
    height: 100%;
    width: 100%;
    /* z-index: 99; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: #fff;
    background-color: #00000096;
    transform: translateY(105%);
    transition: transform 0.5s;

}
.gallery img{
    width: 100%;
    display: block;
    transition: transform 0.5s;

    /* z-index: 9; */
}
.image-layer h2{
    font-family: var(--main-2-font);
    color: #fff;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 23px;
}
.image:hover img{
    transform: scale(1.1);
}
.image:hover .image-layer{
    z-index: 1;
    transform: translateY(0%);
}

/* ****************** CONTACT ****************** */
.contact{
    padding: 80px 0;
    padding-bottom: 100px;
    background-color: var(--bg-1-color);
    /* background-color: #faf; */
}
.contact-container{
    /* background-color: #bff; */
    width: 87%;
    margin: auto;
}
.contact-header{
    /* background-color: #bff; */
    text-align: center;
}
.contact-info-container{
    /* background-color: #a55; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    /* align-items: center; */
}
.contact .info{
    /* background-color: #afa; */
    background-color: var(--bg-2-color);
    width: 49%;
   margin-bottom: 20px;
   padding: 20px;
   display: flex;
   
   align-items: center;
}
.info-icon{
    padding: 15px;
    margin-right: 10px;
    background-color: var(--secondary-color);
    color: var(--bg-1-color);
    font-size: 20px;
    border-radius: 50%;
}
.info-inner p, .info-inner a{
    color: var(--main-1-color);
}
.info-inner h3{
    color: #7d7d7d;;
}
.map-container{
    /* background-color: #afa; */
    margin-bottom: 25px;
}
form{
    /* background-color: #bad; */
    
    box-shadow: 0px 0px 21px 0px #0003;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
form input, textarea{
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border: 3px solid var(--bg-2-color) ;
    transition: border 0.3s;
}
.form-inner{
    display: flex;
    justify-content: space-between;
}
.form-inner input{
    width: 49.4%;
}
textarea{
    resize: vertical;
    /* height: 150px; */
    font-family: inherit;
    min-height: 100px;
    max-height: 200px;
    margin-bottom: 30px;
}
.contact form :is(input, textarea):focus{
    outline: none;
    border: 2px solid var(--secondary-color);
}
.contact button{
    background-color: var(--secondary-color);
    border-radius: 30px;
    border: none;
    padding: 15px;
    width: 180px;
    color: var(--bg-1-color);
    margin: auto;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}
.contact button:hover{
    background-color: var(--secondary-color-hov);
}
/* ****************** FOOTER ****************** */
.footer{
    background-image: linear-gradient(#0009, #0009), url(../img/textured-metal-background.jpg);
    box-shadow: 0px -1px 5px #0007;
    background-size: contain;
    color: white;
    font-weight: 300;
    padding: 50px 0px;
}

.footer-container{
    /* background-color: #faf; */
    width: 87%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer a{
    color: white;
}
.footer-section{
    padding: 15px;

}
.footer .sec1, .footer .sec3 {
    /* background-color: #afa; */
    width: 35%;
}
.footer .logo img{
    width: 30px;
}
.footer .logo h2{
    color: white;
    font-family: var(--main-1-font);
    font-weight: 700;
    font-size: 30px;
    margin-left: 3px;
}
.footer .logo{
    display: flex;
    align-items: center; /*fixes image stretch*/
    margin-bottom: 10px;
}
.footer h2::after{
    content: ".";    
    color: var(--secondary-color);
}
.footer h3{
    font-family: var(--main-2-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.footer .sec1 h3{
    text-align: center;
    border-bottom: 2px solid #5a5a5a;
    margin-bottom: 10px;
    padding: 10px;
}
.footer .sec1 .socials a{
    /* color: #fff; */
    font-size: 26px;
    padding: 10px;
}
.footer .sec1 ul{
    display: flex;
    justify-content: space-evenly;
}
.footer .sec2 p{
    margin-bottom: 15px;
}
.sub-inner{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 15px;
}

.footer .sec2 input{
    /* width: 500px; */
    padding: 12px;
    flex-grow: 1;
    margin-right: 5px ;
}
.footer .sec2 button{
    cursor: pointer;
    color: var(--bg-1-color);
    background-color: var(--secondary-color);
    /* font-family: var(--main-2-font); */
    font-weight: 500;
    font-size: 14px;
    border: none;
    width: 115px;
    padding: 11px;
    transition: background-color 0.3s;
}
.footer .sec2 .links-container{
    display: flex;
    justify-content: space-between;
}
.footer .sec2 ul{
    display: block;
    width: 50%;
}
.footer .sec2 i{
    margin-right: 6px;
}
.footer .sec2 button i{
    margin-right: 6px;
    font-size: 15px;
    color: var(--bg-1-color);
    
}
.footer .sec2 .links-container li{
    /* background-color: #faf; */
    margin-right: 15px;
    padding: 5px 3px;
    transition: all 0.4s;

}
.footer .sec2 .links-container li:hover{
    background-color: #222222;
    transform: translateX(5px);
}
.footer .sec3 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer .sec3 li{
    /* background-color: #faf; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
    margin-bottom: 17px;
}
.footer .sec3 li .foot-icon a{
    color: var(--secondary-color);
}
.footer .sec3 .foot-icon{
    /* background-color: #5a5; */
    /* padding: 10px; */
    text-align: center;
    padding: 0 15px 0 5px;
    font-size: 23px;
    color: var(--secondary-color);
    /* margin-right: 10px; */
}
.footer .sec3 .loc{
    padding: 0 18px 0 5px;
}

.foot-sec2-inner1 button:hover{
    background-color: var(--secondary-color-hov);
}













.menu-bars-icon {
    /* background-color: #faf; */
    font-size: 25px;
    cursor: pointer;
}
:root:has(#menu-mode:not(:checked)) .side-menu{
    display:none
}
:root:has(#menu-mode:checked) .side-menu{
    display: block;
    transform: translateX(0%);
    
}
:root:has(#menu-mode:checked) .side-menu{
    transform: translateX(0%);
    
}
.side-menu{
    width:  350px;
    padding: 50px;
    transition: transform 0.3s;

}
.side-menu label{
    /* background-color: purple; */
    cursor: pointer;
    color: #858585;
    transition: color 0.3s;
    font-weight: 600;
    font-size: 20px;
    /* align-self: right; */
}
.side-menu label:hover{
    color: var(--main-1-color);

}
.far-right-check{
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.side-menu .close-container{
    /* background-color: blue; */
text-align: right;
}
.side-menu ul{
    display: block;
}
.side-menu li{
    padding: 10px 0;
}
.side-menu a{
    color: var(--main-3-color);
    font-weight: 600;
    position: relative; 
}
.side-menu ul a::after{
    content: "";
    position: absolute;
    bottom: -6;
    left: 0;
    background-color: var(--secondary-color);   
    width: 0%;
    height: 3px;
    transition: width 0.4s ease-out;

}
.side-menu ul a:hover::after{
    width: 100%;
}
.side-menu ul a:hover{
    color: var(--main-1-color);
}

.side-menu :has(a:active) .side-menu{
    transform: translateX(110%);
}








